/* ====================
?Fintech Landing Page Designed By Tayyab
=====TABLE OF CONTENT=====
Hero Section
Clients Logo Section
Paltform Section
Payment Support Section
Features Section 
Why Us Section
Developers Section
All Media Queries Section
Media Queries Above 991px : 333
Media Queries Below 991px : 343
====================*/

@import "./partials/header.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
:root {
  --light: #f8f9fa;
  --white: #fff;
  --dark: #343a40;
  --main-color: #3987f0;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family1: "Nunito", sans-serif;
  /*? Typography */
  --first-heading: 66px;
  --second-heading: 43px;
  --third-heading: 35px;
  --third-headings: 30px;
  --titleColor: #0a2540;
  --first-para: 20px;
  --second-para: 17px;
  /* --textColor1: #7c8297; */
  --textColor1: rgba(13, 36, 98, 0.8);
  /*? Backgrounds */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: var(--font-family1);
}

/*==========================================
              Global Classes
========================================== */

li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.btn:focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

h2, h2, h4, h5, h6 {
  font-family: var(--font-family1);
  color: var(--titleColor);
  font-weight: 700;
}

p {
  font-family: var(--font-family1) !important;
}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: var(--first-heading);
  font-weight: 800;
  color: var(--titleColor);
}

.headind-2 {
  font-size: var(--second-heading);
  margin-bottom: 10px;
  font-weight: 800;
  line-height: 55px;
  text-transform: capitalize;
}

.btn-blue {
  background: var(--titleColor);
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 0.6px;
  border-radius: 38px;
}

.btn.blue {
  background-color: var(--main-color);
  color: var(--white);
}

span.blue {
  color: var(--main-color);
}

/*==========================================
              Main Csss 
==========================================/

/*=====Hero Section=====*/

.hero-section {
  background: url("../media/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  /* background: #F5F9FF; */
  padding: 50px 0;
  margin: 0 26px;
  border-radius: 9px 9px 90px 9px;
}

.hero-text p {
  font-size: var(--first-para);
}

.signup-btn:hover {
  color: var(--white);
}

.signup-btn i {
  position: relative;
  top: 1px;
}

/*=====Clients Logo=====*/

.client-logos {
  padding: 24px 15px 30px 15px;
}

.client-logos .logo {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding: 1rem;
}

.logo img {
  width: 150px;
  height: 75px;
}

/*=====Platform=====*/

.platform {
  padding: 50px 15px;
}

.platform-text p, .platform-text .list li {
  font-size: var(--second-para);
  line-height: 28px;
  color: var(--textColor1);
}

.platform-text .list li {
  line-height: 35px;
}

.platform-text .list li::before {
  content: "";
  background: url(../media/check.png);
  position: absolute;
  margin-left: -37px;
  width: 22px;
  height: 20px;
  margin-top: 4px;
}

.platform-text .signup-btn {
  background-color: var(--main-color);
}

/* ===== Payment Support ===== */

.payment-support {
  font-size: 50px;
  color: var(--main-color);
  ;
  text-align: center;
  border-radius: 5px;
  margin: 1px 16px;
}

/*=====features=====*/

.features {
  padding: 30px 15px;
}

.feature-title {
  text-align: Center;
}

.feature-title p {
  max-width: 500px;
  font-size: var(--second-para);
}

.feature-card {
  background-color: #fff!important;
  box-shadow: 0 4px 22px rgb(202 202 202 / 25%);
  background: url('../media/features-bg.svg') no-repeat;
  background-position-y: -2px;
  background-position-x: -2px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 40px 25px;
  margin: 20px 0px;
  cursor: pointer;
}

.feature-card:hover {
  background-image: url('../media/features-hover-bg.svg');
}

.icon img {
  width: 44px;
  height: 44px;
  margin: 0;
  background-color: var(--main-color);
  border-radius: 100%;
}

.feature-text h5 {
  font-size: 18px;
  letter-spacing: .6px;
  font-weight: 700;
}

.feature-text p {
  font-size: var(--second-para);
  line-height: 28px;
  color: var(--textColor1);
}

.feature-text a {
  font-weight: 700;
}

.feature-text a i {
  position: relative;
  left: 3px;
  font-size: 12px;
}

/*===== Why Choose Us=====*/

.why-us {
  margin: 5px 0px;
  padding: 50px 15px 140px!important;
  background-color: var(--main-color);
  clip-path: polygon(100% 0, 100% 87%, 0 98%, 0 10%);
  border-radius: 5px;
}

.why-us-title {
  padding-top: 70px;
}

.why {
  padding: 20px 0;
}

.why .icon {
  margin: 10px 0;
}

.why .text h5 {
  color: var(--white);
  font-size: 18px;
  letter-spacing: .6px;
  font-weight: 700;
  line-height: 32px;
}

.why .text p {
  color: var(--white);
  font-size: var(--second-para);
  line-height: 28px;
}

/*===== Developers =====*/

.developers {
  padding: 70px 15px;
}

.api-text p {
  font-size: var(--second-para);
  line-height: 28px;
  color: var(--textColor1);
}

.api-text .signup-btn {
  background-color: var(--main-color);
  ;
}

.icon-text {
  margin-top: 14px;
}

/* ================================ 
             All Media Queries 
================================ */

@media (min-width: 991px) {
  .feature-card {
    max-width: 363px;
  }
  .feature-card:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 991px) {
  .hero-section {
    margin: 0 0;
    padding: 70px 0px;
  }
  .why-us {
    padding: 50px 0 140px 0;
    clip-path: polygon(100% 0, 100% 96%, 0 100%, 0 4%);
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .hero-image {
    display: none;
  }
  .client-logos {
    padding: 19px 15px 0px 15px;
  }
  .logo img {
    width: 58px;
    height: 30px;
  }
  .client-logos .logo {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding: 8px;
  }
  .payment-support {
    font-size: 40px;
    margin: 1px 12px;
  }
  .heading-1 {
    font-size: 35px;
    font-weight: 800;
    color: var(--titleColor);
  }
  .headind-2 {
    font-size: 24px;
    line-height: 35px;
  }
}