@import "./partials/header.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");
:root {
  --light: #f8f9fa;
  --white: #fff;
  --dark: #343a40;
  --main-color: #3987f0;
  /*? BreakPoints  */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg1: #f4feff;
  --sec-padding: 6rem 0;
  --font-family1: "Nunito", sans-serif;
  --inputBackground: #f1f4f7;
  /*? Typography */
  --first-heading: 66px;
  --second-heading: 40px;
  --third-heading: 35px;
  --third-headings: 30px;
  --titleColor: #0a2540;
  --first-para: 20px;
  --second-para: 17px;
  /* --textColor1: #7c8297; */
  --textColor1: rgba(13, 36, 98, 0.8);
  /*? Backgrounds */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: var(--font-family1);
}

/*==========================================
              Global Classes
========================================== */

li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.btn:focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

h2, h2, h4, h5, h6 {
  font-family: var(--font-family1);
  color: var(--titleColor);
  font-weight: 700;
}

p {
  font-family: var(--font-family1) !important;
}

.container {
  max-width: 1200px;
}

@media (max-width: 867px) {
  :root {
    /*? Typography */
    --first-heading: 40px;
    --second-heading: 35px;
    --third-headings: 30px;
    --first-para: 19px;
  }
}

/*==========================================
              Main Csss 
==========================================/

/*=====Hero Section=====*/

.hero-section {
  /* background: url("../media/hero-bg.jpg") no-repeat center center; */
  /* background-size: cover; */
  background: #F5F9FF;
  padding: 50px 0;
  margin: 0 26px;
  border-radius: 5px;
}

.hero-text h1 {
  font-size: var(--first-heading);
  font-weight: 800;
  color: var(--titleColor);
}

.hero-text p {
  font-size: var(--first-para);
}

.signup-btn {
  background: var(--titleColor);
  padding: 7px 16px;
  font-size: 15px;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 0.6px;
  border-radius: 38px;
}

.signup-btn:hover {
  color: var(--white);
}

.signup-btn i {
  position: relative;
  top: 1px;
}

/*=====Clients Logo=====*/

.client-logos {
  padding: 24px 0 30px 0;
}

.client-logos .logo {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding: 1rem;
}

.logo img {
  width: 150px;
  height: 75px;
}

/*=====Platform=====*/

.platform {
  padding: 50px 0;
}

.platform-text h2 {
  font-size: var(--second-heading);
  margin-bottom: 10px;
  font-weight: 800;
}

.platform-text h2 span {
  color: var(--main-color);
}

.platform-text p, .platform-text .list li {
  font-size: var(--second-para);
  line-height: 28px;
  color: var(--textColor1);
}

.platform-text .list li {
  line-height: 35px;
}

.platform-text .list li::before {
  content: "";
  background: url(../media/check.png);
  position: absolute;
  margin-left: -37px;
  width: 22px;
  height: 20px;
  margin-top: 4px;
}

.platform-text .signup-btn {
  background-color: var(--main-color);
}

/*=====features=====*/

.features {
  clip-path: polygon(100% 0, 100% 87%, 0 98%, 0 10%);
  background-color: #F5F9FF;
  padding: 120px 0;
}

.feature-title {
  text-align: Center;
}

.feature-title h2 {
  font-size: var(--second-heading);
  margin-bottom: 10px;
  font-weight: 800;
}

.feature-title p {
  max-width: 500px;
  font-size: var(--second-para);
}

.feature-card {
  background-color: #fff!important;
  box-shadow: 0 4px 22px rgb(202 202 202 / 25%);
  background: url('../media/features-bg.svg') no-repeat;
  background-position-y: -2px;
  background-position-x: -2px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 40px 25px;
  margin: 20px 0px;
  cursor: pointer;
}

.feature-card:hover {
  background-image: url('../media/features-hover-bg.svg');
}

.icon img {
  width: 44px;
  height: 44px;
  margin: 0;
  background-color: var(--main-color);
  border-radius: 100%;
}

.feature-text h5 {
  font-size: 18px;
  letter-spacing: .6px;
  font-weight: 700;
}

.feature-text p {
  font-size: var(--second-para);
  line-height: 28px;
  color: var(--textColor1);
}

.feature-text a {
  font-weight: 700;
}

.feature-text a i {
  position: relative;
  left: 3px;
  font-size: 12px;
}
/*===== Why Choose Us=====*/

.why-us{
  margin: 10px 0;
  padding:40px 0;
  background-color: var(--main-color)
}

/* ================================ 
             All Media Queries 
================================ */

@media (min-width: 991px) {
  /* ===== Features ===== */
  .feature-card {
    max-width: 363px;
  }
  .feature-card:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 991px) {
  .hero-section {
    margin: 0 0;
    padding: 70px 0px;
  }
  /*=====Clients Logo Section =====*/
  .client-logos .d-flex {
    overflow-x: auto;
    justify-content: left;
  }
  .client-logos .d-flex::-webkit-scrollbar {
    width: 1px;
    height: 6px;
  }
  .client-logos .d-flex::-webkit-scrollbar-track {
    background-color: #c0c0c04b;
    border-radius: 1px;
  }
  .client-logos .d-flex::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #cc92fc;
  }
  /* ===== Features===== */
  .features {
    clip-path: polygon(100% 0, 100% 87%, 0 98%, 0 10%);
    background-color: #F6F9FC;
    padding: 160px 0;
  }
}

@media (max-width: 767px) {
  /* ===== Hero Section ===== */
  .hero-image {
    display: none;
  }
}